.main{
    background-color: teal;
}

.body{
    width: 600px;
    height: 600px;
    background-color: black;
    margin-left: 350px;
}
#textfield{
    width: 500px;
    height: 100px;
    margin-left: 50px;
    margin-top: 40px;
    pointer-events: none;
}
#btn{
    width: 70px;
    height: 60px;
    margin-left: 70px;
    margin-top: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    opacity: 0.6;
  transition: 0.3s;
}
#btn:hover {background-color: #3e8e41}

#btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btn:hover {opacity: 1}



